[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
exllama = "*"
bs4 = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
tk = "*"
pyqt5 = "*"
scikit-learn = "*"
pyspark = "*"
opencv-python = "*"
linear-tree = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
